*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
body
{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
	background-size: cover;
	background-position: center;
}
#msgbox
{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(Images/back.jpg);
	background-size: cover;
	background-position: center;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#contacts
{
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;    
}
#edit
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}
::-webkit-scrollbar {
    display: none;
}